[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pyqt6 = "*"
tensorflow = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
loguru = "*"
tensorrt = "*"
tensorrt-cu12 = "*"
tensorrt-cu12-libs = "*"
pydot = "*"
jax = {extras = ["cuda12_pip"], version = "*"}
nvidia-cudnn-cu12 = "==9.3.0.75"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
